*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h3{
    color: #B6AEA3;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 30px;
}
h1{
    color: #626262;
    font-size: 30px;
    padding: 40px 0px;
    font-weight: 500;
}
p{
    color: #626262;
    font-size: 18px;
    line-height: 25px;
}
a{
	text-decoration: none;
}
img{
	display: block;
	width: 100%;
}
body{
	font-family: 'Playfair Display', serif;
}
.header{
    text-transform: uppercase;
}
.container-fluid{
	width: 1300px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 50px;
}
.logo{
	width: 20%;
    float: left;
}
.logo a{
    display: block;
    font-size: 32px;
    letter-spacing: 8px;
    color: #343434;
}
nav{
    width: 80%;
    float: left;
    text-align: right;
}
nav ul{}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    color: #7A7A7A;
    font-size: 18px;
    display: block;
    transition: all 0.4s ease;
}
nav ul li a:hover{
    color: #000;
    box-shadow: 1px 0px 10px #d2cbcb;
}
.banner{}
.banner-image{
}
.banner-image img{
    width: 100%;
}
.photodiary{
    padding: 100px 0px;
}
.container{
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}
.photodairy-content{}



.photodairy-content button{
    margin-top: 40px;
    color: #B6AEA3;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    background-color: snow;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
}
.gallery{}
.gallery-content{
    width: 50%;
    float: left;
    /* display: block; */
}
.gallery-content h3{
    margin-top: 40px;
}
.gallery-content h1{}
.gallery-content p{}
.gallery-content-item{
    width: 100%;
    /* margin: 0 auto; */
    padding-right: 30px;
    margin-bottom: 80px;
}
.gallery-content-item.mr {
    margin-left: 30px;
}
.gallery-img{
    /* max-width: 100%; */
}
.gallery-img img{
    display: block;
    width: 100%;
}
.signup{
    background-color: #F0F0F0;
    /* padding: 50px 0; */
}
.singup-content{
    text-align: center;
/*     background-color: #F0F0F0; */
    padding: 60px 0 50px 0;
}
.singup-content h2{
    color: #333333;
    font-size: 31px;
    font-weight: 500;
    padding-bottom: 50px;
}
.input-area{
    width: 30%;
    border-bottom: 2px solid #515151;
    margin: 0 auto;
    overflow: hidden;
    /* padding: 50px 0; */
}
.singup-content input{
    /* margin: 50px 0px; */
    border: none;
    background: transparent;
    /* border-bottom: 2px solid #515151; */
    padding-left: 5px;
    font-size: 16px;
    /* border-bottom: 1px solid #515151; */
    /* border: none; */
    padding-bottom: 5px;
    float: left;
    outline: none;
    font-family: 'Playfair Display', serif;
    width: 95%;
}
.input-area i{
    float: right;
    cursor: pointer;
}
.lifestyle{
	margin-top: 100px;
	padding-bottom: 100px;
}
.lifestyle-content{
	width: 50%;
    float: left;
    margin-bottom: 150px;
}
.lifestyle-content-item{
	width: 100%;
	padding-right: 30px;
}
.lifestyle-content .mr{
	margin-left: 30px;
}
.lifestyle-img{}
.lifestyle-content img{}
.lifestyle-content h3{}
.lifestyle-content h1{}
.lifestyle-content p{}
.load-more {
    display: block;
    margin: 0 auto;
    color: #6F6F6F;
    /* margin-top: 100px; */
    padding: 15px 40px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #6F6F6F;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease;
    font-family: 'Playfair Display', serif;
}
.load-more:hover {
    background-color: #343A40;
    color: #fff;
    border: 1px solid #343A40;
}
.footer{
	background-color: #F0F0F0;
}
.footer-item{
	    overflow: hidden;
	    padding: 40px;
}
.footer-left{
    float: left;
}
.footer-left ul{
    padding-left: 32px;
}
.footer-left ul li{
	width: 50%;
	/* float: left; */
	display: inline;
	list-style: none;
	font-size: 20px;
}
.footer-left ul li a{
    color: #626262;
    padding: 10px;
}
.footer-left ul li a:hover{
	color: #0e0e0e;
}
.footer-right{
	float: right;
}
.footer-right ul {
   
}
.footer-right ul li{
    list-style: none;
    display: inline;
    padding-left: 15px;
    color: #626262;
}
.footer-right ul li a{}
.footer-right ul li a{}
.footer-right ul li a{}
.footer-right ul li a{
    color: #626262;
    font-size: 18px;
    display: inline-block;
    height: 26px;
    width: 26px;
    text-align: center;
    transition: all 0.4s ease;
}
.footer-right ul li a:hover{
	color: #fff;
	background-color: #6f6f6f;
	border-radius: 5px;
} 
